* {
    /* text-align: center; */
    font-family: georgia;
}

body {
    padding: 1rem;
}

h1 {
   border: 1px dashed #C14242;
   text-transform: uppercase;
   font-size: 25px;
   font-family: 'Times New Roman', Times, serif;
}

div {
    padding-top: 10px;
}

h2 {
    font-style: italic;
    text-transform: uppercase;
}
button {
    background-image: -webkit-linear-gradient(#EEC8C8, #C14242);
    background-repeat: no-repeat;
    background-size: contain;
}