* {
    text-align: center;
    font-family: georgia;
}

#colorDisplay {
    font-style: italic;
}

button {
    background-image: -webkit-linear-gradient(#EEC8C8, #C14242);
    background-repeat: no-repeat;
    background-size: contain;
}